<div class="jumbotron">
	<h2>The Bar</h2>
	<p class="lead">The EDC is open to members and their guests daily from 5.00pm to 2.00am.</p>
</div>

<div class="row-fluid marketing">
	<div class="span6">  
		<a href="http://www.flickr.com/photos/100608608@N06/9587956346/" title="Ellen">
		<img src="http://farm4.staticflickr.com/3703/9587956346_e98412179e.jpg" width="375" height="500" alt=""></a>
	</div>
	<div class="span6">
		<a href="http://www.flickr.com/photos/100608608@N06/9588012100/" title="Steve">
		<img src="http://farm6.staticflickr.com/5327/9588012100_4e072f3c4f.jpg" width="375" height="500" alt=""></a>
	</div>
</div>

<div class="row-fluid marketing">
	<div class="span6">  
		<a href="http://www.flickr.com/photos/100608608@N06/9594751418/" title="Donnie">
		<img src="http://farm4.staticflickr.com/3822/9594751418_0d5becf338.jpg" width="375" height="500" alt="Awesomized"></a>
	</div>
	<div class="span6">
		<a href="http://www.flickr.com/photos/100608608@N06/9626826881/" title="Barb">
		<img src="http://farm4.staticflickr.com/3778/9626826881_b1f769bea4.jpg" width="375" height="500" alt="barb"></a>
	</div>
</div>

<div class="row-fluid marketing">
	<div class="span6">  
		<a href="http://www.flickr.com/photos/100608608@N06/9619822566/" title="Shirley">
		<img src="http://farm6.staticflickr.com/5321/9619822566_63c254ab06.jpg" width="375" height="500" alt="photo6"></a>	
	</div>
	<div class="span6">
		<a href="http://www.flickr.com/photos/100608608@N06/9619823536/" title="Colleen">
		<img src="http://farm3.staticflickr.com/2878/9619823536_0eb46febb5.jpg" width="375" height="500" alt="photo3"></a>
	</div>
</div>

<div class="row-fluid marketing">
	<div class="span6">  
		<a href="http://www.flickr.com/photos/100608608@N06/9662059403/" title="Awesomized by eastportdc, on Flickr"><img src="http://farm6.staticflickr.com/5506/9662059403_24bd44bb6a.jpg" width="375" height="500" alt="Awesomized"></a>
	</div>
</div>




