#core
ipython
streamlit
langchain
langchain-openai
langchain_community
langchain_core
langchain-groq
langchain_openai
langchain-experimental
langchain-cli
langchain-fireworks
openai
python-dotenv
pandas
#chat-csv
tabulate
#langchain
wikipedia
numexpr
#autogen
pandas_datareader
#llamaIndex
llama-index-llms-ollama
#gemini
google-generativeai
