<div class="jumbotron">
	<h2>Events</h2>
	<p class="lead">Located off Back Creek, Eastport in historic Annapolis and founded in 1929 The Eastport Democratic Club serves as the community's meeting and gathering place, for all things Eastport and Annapolis.
	The EDC is open to members and their guests daily from 5.00pm to 12.00am.</p>
</div>

<div class="row-fluid marketing">
	<div class="span12">
	  	<h4><a href="#/football">Football</a></h4>
	  	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	</div>
</div>