<div class="jumbotron">
	<h2>The Kitchen at the Club</h2>
	<p class="lead">Located off Back Creek, Eastport in historic Annapolis and founded in 1929 The Eastport Democratic Club serves as the community's meeting and gathering place, for all things Eastport and Annapolis.
	The EDC is open to members and their guests daily from 5.00pm to 12.00am.</p>
</div>

<div class="row-fluid marketing">
    <div class="span12 text-center">
		<a href="http://www.flickr.com/photos/100608608@N06/9585255919/" title="Super Bowl stove" target="_new">
		<img src="http://farm6.staticflickr.com/5516/9585255919_6cec1dfa3d.jpg" width="500" height="375" alt="ca_02091318190153"></a>
	</div>
</div>

<div class="row-fluid marketing">
	<div class="span12 text-center">
		<a href="http://www.flickr.com/photos/100608608@N06/9588047456/" title="Green Beer cabbage" target="_new">>
		<img src="http://farm8.staticflickr.com/7459/9588047456_9b92c4b9df.jpg" width="500" height="375" alt="ca_03161318222239"></a>
	</div>
</div>