<div class="jumbotron">
  <h1>Eastport Democratic Club</h1>
  <p class="lead">Located off Back Creek, Eastport in historic Annapolis and founded in 1929 The Eastport Democratic Club serves as the community's meeting and gathering place, for all things Eastport and Annapolis.
  The EDC is open to members and their guests daily from 5.00pm to 12.00am.</p>
</div>

<div class="row-fluid marketing">
  <div class="span6">
    <h4><a href="/#about">About</a></h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
  </div>
  <div class="span6">
    <h4><a href="/#news">News</a></h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
